<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Product Table</title>
    <link rel="stylesheet" href="../static/css/product.css">
    <script src="../static/JavaScript/product.js"></script>
</head>
<body>

<h1>Dynamic Product List</h1>

<div class="topnav">
    <!-- Sort Dropdown -->
    <div class="dropdown">
        <button onclick="toggleDropdown('myDropdown')" class="dropbtn">
            <img src="../static/images/icons/SortIcon.png" alt="Sort Icon">
            <span>Sort</span>
        </button>
        <div id="myDropdown" class="dropdown-content">
            <a href="#" id  ="fetchDataCutton">Price: Low to High</a>
            <a href="#">Price: High to Low</a>
            <a href="#">Newest Arrivals</a>
        </div>
    </div>

    <!-- Filter Dropdown -->
    <div class="dropdown">
        <button onclick="toggleDropdown('myDropdownFilterCategories')" class="dropbtn">
            <img src="../static/images/icons/FilterIcon.png" alt="Filter Icon">
            <span>Filter By <br> Categories</span>
        </button>
        <div id="myDropdownFilterCategories" class="dropdown-content">
        </div>
    </div>

    <div class="dropdown">
        <button onclick="toggleDropdown('myDropdownFilter')" class="dropbtn">
            <img src="../static/images/icons/FilterIcon.png" alt="Filter Icon">
            <span style="font-size: 15px">Filter By Shelf Location</span>
        </button>
        <div id="myDropdownFilter" class="dropdown-content">
        </div>
    </div>
</div>

<table id="dynamicTable">
    <thead>
    <tr id="tableHeadRow">
        <!-- Table Headers will be added here -->
    </tr>
    </thead>
    <tbody id="tableBody">
    <!-- Data Rows will be inserted here -->
    </tbody>
</table>

</body>
</html>
